@using CSALMongo.Model
@using CSALMongoWebAPI.Util

@{
    ViewBag.Title = "Class " + Model.Class.ClassID;
}


<!-- MAIN CONTENT -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="pull-left">
                <p>Location: @Model.Class.Location</p>
                <p>Teacher: @Model.Class.TeacherName</p>
            </div>

            <div class="pull-left" style="margin-left: 32px;">
                @if (!String.IsNullOrWhiteSpace(Model.Class.MeetingTime)) {
                    <p>Meeting Time: @Model.Class.MeetingTime</p>
                }

                <p>
                    This class has <strong>@Model.Class.Students.Count</strong> students
                    and <strong>@Model.Class.Lessons.Count</strong> lessons
                </p>
            </div>

            <div class="clearfix">
            </div>
        </div>
    </div>

    <div class="row">        
        <div class="col-md-12">
            <h3>Students</h3>
            <table class="table table-condensed table-striped">
                <thead>
                    <tr>
                        <th>SubjID</th>
                        <th class="nw">Lesson Avg</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var userID in Model.Class.Students) {
                        string correctDisp = "";
                        string correctStyle = "";
                        
                        Tuple<int, int> tots = Model.StudentCounts[userID];
                        if (tots.Item1 > 0 || tots.Item2 > 0) {
                            double all = tots.Item1 + tots.Item2;
                            double avg = (double)tots.Item1 / all;
                            correctDisp = String.Format("{0:P0}", avg);
                            correctStyle = avg > 0.67 ? "label-success" : "label-danger";
                        }
                        
                        <tr>
                            <td><a href="~/home/studentdetails/@RenderHelp.URIEncode(userID)" class="student-link">@userID</a></td>
                            <td><span class="label @correctStyle" style="font-weight:normal;">@correctDisp</span></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-condensed" id="classMatrix">
                <caption>Performance Information</caption>
                
                <tr>
                    <th>&nbsp;</th>
                    @foreach (var userID in Model.Class.Students) {
                        <th>
                            <a href="~/home/studentdetails/@RenderHelp.URIEncode(userID)" class="student-link">@userID</a>
                        </th>
                    }
                </tr>

                @foreach (var lessonID in Model.Class.Lessons) {
                    string lessonName;
                    if (!Model.LessonNames.TryGetValue(lessonID, out lessonName)) {
                        lessonName = lessonID;
                    }
                    
                    <tr>
                        <th>
                            <a href="~/home/lessondetails/@RenderHelp.URIEncode(lessonID)" class="lesson-link">@lessonName</a>
                        </th>
                        
                        @foreach (var userID in Model.Class.Students) {
                            string correctRateDisp = "";
                            string correctStyle = "";
                            bool showCompleted = false;
                                                
                            var key = new Tuple<string, string>(lessonID, userID);
                            StudentLessonActs turns = null;

                            if (Model.LUTurns.TryGetValue(key, out turns)) {
                                double correctRate = turns.CorrectAnswerRate();
                                correctRateDisp = String.Format("{0:P0}", correctRate);
                                correctStyle = correctRate > 0.67 ? "label label-success" : "label label-danger";
                                showCompleted = turns.LastCompleted();
                            }

                            <td>
                                <span class="@correctStyle" style="font-weight:normal;">@correctRateDisp</span>
                                @if (showCompleted) {
                                    <span class="glyphicon glyphicon-ok"></span>
                                }
                            </td>
                        }
                    </tr>
                }
            </table>
        </div>
    </div>
</div> <!-- /container -->

@section ScriptFinal {
<script>
    $(document).ready(function () {
        $(".student-link").addClass("hover-restore");
        $(".lesson-link").addClass("hover-restore");
        $("#classMatrix th").addClass("nw").addClass("border1");
        $("#classMatrix td").addClass("nw").addClass("border1");
    });
</script>
}
