@using System.Linq;
@using CSALMongoWebAPI.Util

@{
    ViewBag.Title = Model.Lesson.ShortName + " (" + Model.Lesson.LessonID + ")";
}

@{
    List<DateTime> attemptTimes = Model.Lesson.AttemptTimes;
    
    var studentsAssigned = 0;
    if (Model.Lesson.Students != null) {
        studentsAssigned = Model.Lesson.Students.Count;
    }
    var studentsAttempted = 0;
    if (Model.Lesson.StudentsAttempted != null) {
        studentsAttempted = Model.Lesson.StudentsAttempted.Count;
    }

    var studentsCompleted = 0;
    if (Model.Lesson.StudentsCompleted != null) {
        studentsCompleted = Model.Lesson.StudentsCompleted.Count;
    }

    int troubleFailing = 0;
    int troubleNotCompleted = 0;
    foreach (var lesson in Model.Turns) {
        if (!(lesson.CorrectAnswerRate() > 0.67)) {
            troubleFailing++;
        }
        if (!lesson.LastCompleted()) {
            troubleNotCompleted++;
        }
    }
}

<!-- MAIN CONTENT -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            @if (troubleFailing > 0 || troubleNotCompleted > 0) {
                <table class="table table-bordered table-condensed">
                    <tr><th class="nw">Less than passing</th><td>@troubleFailing</td></tr>
                    <tr><th class="nw">Haven't completed</th><td>@troubleNotCompleted</td></tr>
                </table>
                <button id="TroubleFilterCmd" type="button" class="btn btn-xs btn-primary">View Struggling Students</button>
            }
        </div>

        <div class="col-md-4">
            <table class="table table-bordered table-condensed">
                @if (Model.Lesson.LastTurnTime != null) {
                    <tr><th class="nw">Last Activity</th><td>@Model.Lesson.LastTurnTime.ToLocalTime()</td></tr>
                }
                @if (attemptTimes != null && attemptTimes.Count > 0) {
                    <tr><th class="nw">First Attempt</th><td>@attemptTimes[0].ToLocalTime()</td></tr>
                    <tr><th class="nw">Last Attempt</th><td>@attemptTimes.Last().ToLocalTime()</td></tr>
                }
            </table>
        </div>

        <div class="col-md-4">
            <table class="table table-bordered table-condensed">
                <tr><th class="nw">Assigned</th><td>@studentsAssigned</td></tr>
                <tr><th class="nw">Attempted</th><td>@studentsAttempted</td></tr>
                <tr><th class="nw">Completed</th><td>@studentsCompleted</td></tr>
            </table>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-md-12">
            <h3>Lesson Information</h3>
            <table id="DetailTable" class="table table-striped apply-data-table">
                <thead>
                    <tr>
                        <th>Student</th>
                        <th>Trb?</th>
                        <th>Last Activity</th>
                        <th>Times Attempted</th>
                        <th>Times Completed</th>
                        <th><span class="has-tooltip" data-toggle="tooltip" data-placement="top" title="Based on each student's last attempt">Score</span></th>
                        <th><span class="has-tooltip" data-toggle="tooltip" data-placement="top" title="Based on each student's last attempt">Total time</span></th>
                        <th><span class="has-tooltip" data-toggle="tooltip" data-placement="top" title="Based on each student's last attempt">Reading time</span></th>
                        <th><span class="has-tooltip" data-toggle="tooltip" data-placement="top" title="Based on each student's last attempt">Lesson Path</span></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var lesson in Model.Turns) {
                        double correctRate = lesson.CorrectAnswerRate();
                        bool inTrouble = !(lesson.LastCompleted() && correctRate > 0.67);

                        var lessonUrl = RenderHelp.URIEncode(lesson.LessonID);
                        var userUrl = RenderHelp.URIEncode(lesson.UserID);

                        var lastTurnTime = lesson.LastTurnTime;
                        if (lastTurnTime != null) {
                            lastTurnTime = lastTurnTime.ToLocalTime();
                        }
                        
                        <tr>
                            <td><a href="~/home/studentdetails/@userUrl" class="student-link">@lesson.UserID</a></td>
                            <td>
                                @if (inTrouble) {
                                    <span class="glyphicon glyphicon-cloud"></span>
                                }
                            </td>
                            <td class="nw">@lastTurnTime</td>
                            <td>@lesson.Attempts</td>
                            <td>
                                @lesson.Completions
                                @if (lesson.LastCompleted()) {
                                    <span class="glyphicon glyphicon-ok"></span>
                                }
                            </td>
                            <td class="correct-cell det-link" data-user="@userUrl" data-lesson="@lessonUrl">
                                @correctRate
                            </td>
                            <td>@RenderHelp.HumanDuration(lesson.CurrentTotalTime())</td>
                            <td>@RenderHelp.HumanDuration(lesson.CurrentReadingTime())</td>
                            <td class="path-cell">@lesson.CurrentLessonPath()</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div> <!-- /container -->
@section ScriptFinal {
    <script>
        var viewOnlyTroubled = false;
        var detailTable = null;

        $(document).ready(function () {
            //Do this before setting up the data table
            $(".path-cell").each(function (idx, ele) {
                var td = $(ele);
                var path = td.text();
                var newPath = CSALCommon.lessonPathMarkup(path);
                td.html("").append(newPath);
            });

            $(".correct-cell").each(function (idx, ele) {
                var td = $(ele);
                var correct = td.text();
                var newCorrect = CSALCommon.correctRateMarkup(correct);
                td.html("").append(newCorrect);
            });

            $(".det-link").addClass("hover-restore").click(function (evt) {
                evt.preventDefault();
                var t = $(this);
                showTurnDetail(t.data("lesson"), t.data("user"));
            });

            $(".has-tooltip").tooltip();

            detailTable = $('#DetailTable').dataTable({
                "order": [[5, "asc"]]
            });

            $(".student-link").addClass("hover-restore");

            $.fn.dataTableExt.afnFiltering.push(
                function (oSettings, aData, iDataIndex) {
                    if (viewOnlyTroubled) {
                        return CSALCommon.trimmedStr(aData[1]).length > 0;
                    }
                    else {
                        //Always return true since no filter
                        return true;
                    }
                }
            );

            $("#TroubleFilterCmd").click(function (evt) {
                evt.preventDefault();
                if (viewOnlyTroubled) {
                    //Switch back to unfiltered
                    $(this).removeClass("btn-danger").addClass("btn-primary").text("View Struggling Students");
                    viewOnlyTroubled = false;
                }
                else {
                    //Switch to filtered only
                    $(this).removeClass("btn-primary").addClass("btn-danger").text("View All Students");
                    viewOnlyTroubled = true;
                }
                detailTable.fnDraw();
            });
        });
    </script>
}
