@using CSALMongoWebAPI.Util

@{    
    ViewBag.Title = "Lessons";
}

<!-- MAIN CONTENT -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <table id="all-lessons" class="table table-striped apply-data-table">
                <caption>All Lessons</caption>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Number of students attempted</th>
                        <th>Number of students completed</th>
                        <th>Class Avg</th>
                        <th>Date of first attempted</th>
                        <th>Date of last attempted</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var lesson in Model.Lessons) {
                        string firstAttempt = "N/A";
                        string lastAttempt = "N/A";
                        if (lesson.AttemptTimes != null) {
                            var cnt = lesson.AttemptTimes.Count;
                            if (cnt > 0) {
                                firstAttempt = lesson.AttemptTimes[0].ToString();
                                lastAttempt = lesson.AttemptTimes[cnt-1].ToString();
                            }
                        }

                        string correctDisp = "";
                        string correctStyle = "";

                        Tuple<int, int> tots;
                        if (Model.AnswerTots.TryGetValue(lesson.LessonID, out tots)) {
                            if (tots.Item1 > 0 || tots.Item2 > 0) {
                                double all = tots.Item1 + tots.Item2;
                                double avg = (double)tots.Item1 / all;
                                correctDisp = String.Format("{0:P0}", avg);
                                correctStyle = avg > 0.67 ? "label-success" : "label-danger";
                            }
                        }
                        
                        <tr>
                            <td><a href="~/home/lessondetails/@RenderHelp.URIEncode(lesson.LessonID)" class="lesson-link">@lesson.LessonID</a></td>
                            <td><a href="~/home/lessondetails/@RenderHelp.URIEncode(lesson.LessonID)" class="lesson-link">@lesson.ShortName</a></td>
                            <td>@lesson.StudentsAttempted.Count</td>
                            <td>@lesson.StudentsCompleted.Count</td>
                            <td><span class="label @correctStyle" style="font-weight:normal;">@correctDisp</span></td>
                            <td class="nw">@firstAttempt</td>
                            <td class="nw">@lastAttempt</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div> <!-- /container -->

@section ScriptFinal {
<script>
    $(document).ready(function () {
        $('.apply-data-table').dataTable({
            "aaSorting": [] //No default sort
        });
        $(".lesson-link").addClass("hover-restore");
    });
</script>
}
