@{
    ViewBag.Title = "Lessons";
}

<!-- MAIN CONTENT -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <table id="all-lessons" class="table table-striped apply-data-table">
                <caption>All Lessons</caption>
                <thead>
                    <tr>
                        <th>Lesson ID</th>
                        <th>Number of students attempted</th>
                        <th>Number of students completed</th>
                        <th>Date of first attempted</th>
                        <th>Date of last attempted</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var lesson in Model) {
                        string firstAttempt = "N/A";
                        string lastAttempt = "N/A";
                        if (lesson.AttemptTimes != null) {
                            var cnt = lesson.AttemptTimes.Count;
                            if (cnt > 0) {
                                firstAttempt = lesson.AttemptTimes[0].ToString();
                                lastAttempt = lesson.AttemptTimes[cnt-1].ToString();
                            }
                        }
                        
                        <tr>
                            <td><a href="~/home/lessondetails/@lesson.LessonID" class="lesson-link">@lesson.LessonID</a></td>
                            <td>@lesson.StudentsAttempted.Count</td>
                            <td>@lesson.StudentsCompleted.Count</td>
                            <td>@firstAttempt</td>
                            <td>@lastAttempt</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div> <!-- /container -->

@section ScriptFinal {
<script>
    $(document).ready(function () {
        $('.apply-data-table').dataTable();
        $(".lesson-link").addClass("hover-restore");
    });
</script>
}
