@using CSALMongoWebAPI.Util

@{
    ViewBag.Title = "Student " + Model.Student.UserID;
}

<!-- MAIN CONTENT -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            @{
                var completedCount = 0;
                foreach (var lesson in Model.Turns) {
                    if (lesson.Attempts > 0 && lesson.Completions >= lesson.Attempts) {
                        completedCount++;
                    }
                }
            }
            
            Completed <strong>@completedCount</strong> of <strong>@Model.Turns.Count</strong> lessons attempted
            <br />

            <table class="table table-striped">
                <caption>Lesson Information</caption>
                <thead>
                    <tr>
                        <th>Lesson Name</th>
                        <th>Last Activity</th>
                        <th>Times Attempted</th>
                        <th>Times Completed</th>
                        <th>Correct response rate</th>
                        <th>Total time spent on the lesson</th>
                        <th>Reading time</th>
                        <th>Lesson Path</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var lesson in Model.Turns) {
                        string lessonID = lesson.LessonID;
                        string lessonName;
                        if (!Model.LessonLookup.TryGetValue(lessonID, out lessonName)) {
                            lessonName = lessonID;
                        }

                        double correctRate = lesson.CorrectAnswerRate();
                        string correctStyle = correctRate > 0.67 ? "label-success" : "label-danger";
                        
                        <tr>
                            <td><a href="~/home/lessondetails/@RenderHelp.URIEncode(lessonID)" class="lesson-link">@lessonName</a></td>
                            <td>@lesson.LastTurnTime</td>
                            <td>@lesson.Attempts</td>
                            <td>
                                @lesson.Completions
                                @if (lesson.LastCompleted()) {
                                    <span class="glyphicon glyphicon-ok"></span>
                                }
                            </td>
                            <td><span class="label @correctStyle" style="font-weight:normal;">@String.Format("{0:P0}", correctRate)</span></td>
                            <td>@RenderHelp.HumanDuration(lesson.TotalDuration())</td>
                            <td>@RenderHelp.HumanDuration(lesson.CurrentReadingTime())</td>
                            <td class="pathCell">@lesson.LessonPath()</td>
                        </tr>                        
                    }
                </tbody>
            </table>
        </div>
    </div>
</div> <!-- /container -->

@section ScriptFinal {
    <script>
        $(document).ready(function () {
            //Do this before setting up the data table
            $(".pathCell").each(function (idx, ele) {
                var td = $(ele);
                var path = td.text();
                var newPath = CSALCommon.lessonPathMarkup(path);
                td.html("").append(newPath);
            });

            $('.apply-data-table').dataTable({
                "aaSorting": [] //No default sort
            });

            $(".lesson-link").addClass("hover-restore");
        });
    </script>
}
