<!DOCTYPE html>
<html>
<head>
    <title>CSAL DB - @ViewBag.Title</title>

    <meta charset="ISO-8859-1" http-equiv="Access-Control-Allow-Origin">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/sandstone/bootstrap.min.css" rel="stylesheet">

    <link href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css" rel="stylesheet">

    <!-- Helpful CSS changes site-wide -->
    <style type="text/css">
        /* Override the default color for hyperlinks so that it is visually
           distinct (at least in the bootstrap theme we are using) from the
           success/danger colors we use for student progress */
        a {
            color: #3955A1;
        }

        /* Useful class for making sure that the mouse pointer changes over
           clickable things: use by adding the class hover-restore */
        .hover-restore:hover {
            cursor: pointer;
        }

        /* Utility classes for stopping whitespace wrapper and adding a
           1-pixel border (both can be pretty useful) */
        .nw {
            white-space: nowrap;
        }
        .border1 {
            border: 1px solid #000;
        }
    </style>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>

    <!-- HEADER/NAVBAR -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("CSAL Teachers' View", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            @{
                string controller = ViewContext.RouteData.Values["controller"].ToString().ToLower();
                string action = controller + ":" + ViewContext.RouteData.Values["action"].ToString().ToLower();
                string lessonActive = action.Contains("lesson") ? "active" : "";
                string studentActive = action.Contains("student") ? "active" : "";
                string classActive = action.Contains("class") ? "active" : "";
                string materialsActive = action.Contains("materials") ? "active" : "";
            }
            <div class="collapse navbar-collapse" id="main-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="@lessonActive">@Html.ActionLink("Lessons", "Lessons", "Home", new { area = "" }, null)</li>
                    <li class="@classActive">@Html.ActionLink("Classes", "Classes", "Home", new { area = "" }, null)</li>
                    <li class="@studentActive">@Html.ActionLink("Students", "Students", "Home", new { area = "" }, null)</li>
                    <li class="@materialsActive">@Html.ActionLink("Teaching Materials", "Materials", "Home", new { area = "" }, null)</li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    @{
                        var dispEmail = Session["UserEmail"].ToString();
                        if ((bool)Session["IsAdmin"]) { 
                            dispEmail += " (ADMIN)";
                        }
                    }
                    <li>@Html.ActionLink(dispEmail, "Index", "Home", new { area = "" }, null)</li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="page-header" style="padding-left: 2em;">
        <h1>
            CSAL Database Application
            <small>@ViewBag.Title</small>
        </h1>
    </div>

    <!-- MAIN CONTENT -->
    @RenderBody()

    <!-- FOOTER -->
    <div class="container-fluid" style="margin-top: 2in;">
        <div class="row">
            <div class="col-md-12">
            </div>
        </div>
    </div>

    <!-- JAVASCRIPT RESOURCES -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.js" type="text/javascript"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.js" type="text/javascript"></script>
    <script src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Views/Home/CSALCommon.js" type="text/javascript"></script>
    <script src="~/Views/Home/jquery.scrollintoview.min.js" type="text/javascript"></script>
    
    <!-- PROGRESS DIALOG for CSALCommon -->
    <div class="well well-lg" style="display:none; border:solid 2px #000; margin-top: 6px; position:fixed; top:10%; left:5%; width:auto;" id="progressDialog">
        <img class="pull-left" style="vertical-align:middle;" src="~/Views/Home/ajax-loader.gif">
        &nbsp;&nbsp;&nbsp;
        <h3 class="pull-left" style="margin-top: 0px; ">&nbsp; <span id="progressDialogText">Working...</span></h3>
        <div class="clearfix">&nbsp;</div>
    </div>
    <script type="text/javascript">
        CSALCommon.progressDialogSelector = "#progressDialog";
        CSALCommon.progressDialogTextSelector = "#progressDialogText";
    </script>

    <!-- TURN DETAIL DISPLAY (USED LOTS OF PLACES) -->
    <div class="modal fade" id="turnDetailDlg" tabindex="-1" role="dialog" aria-labelledby="turnDetailHdrLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="turnDetailHdrLabel">
                        Details for <span class="dispUserID"></span> in <span class="dispLessonID"></span>
                    </h4>
                </div>
                <div class="modal-body" id="turnDetailDlgContent">
                    <table id="turnDetailDlgDetails" class="table table-condensed">
                        <thead>
                            <tr>
                                <th class="nw">Start</th>
                                <th class="nw">Last</th>
                                <th class="nw">Correct</th>
                                <th class="nw">Reading Time</th>
                                <th class="nw">Total Time</th>
                                <th class="nw">Lesson Path</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary turn-detail-action" data-user="" data-lesson="" id="turnDetailDlgViewUser">User</button>
                    <button type="button" class="btn btn-primary turn-detail-action" data-user="" data-lesson="" id="turnDetailDlgViewLesson">Lesson</button>
                    <button type="button" class="btn btn-primary turn-detail-action" data-user="" data-lesson="" id="turnDetailDlgViewTranscript">User-Lesson Details</button>
                    @if ((bool)Session["IsAdmin"]) {
                        <button type="button" class="btn btn-success turn-detail-action" data-user="" data-lesson="" id="turnDetailDlgViewDebug">Debug View</button>
                    }
                </div>
            </div>
        </div>
    </div>
    <script>
        $('#turnDetailDlg').modal('hide');

        $("#turnDetailDlgViewUser").click(function (evt) {
            evt.preventDefault();
            $('#turnDetailDlg').modal('hide');
            var url = '@Url.Content("~/home/studentdetails/$user")'
                .replace('$user', $(this).data("user"));
            window.location.href = url;
        });

        $("#turnDetailDlgViewLesson").click(function (evt) {
            evt.preventDefault();
            $('#turnDetailDlg').modal('hide');
            var url = '@Url.Content("~/home/lessondetails/$lesson")'
                .replace('$lesson', $(this).data("lesson"));
            window.location.href = url;
        });

        $("#turnDetailDlgViewTranscript").click(function (evt) {
            evt.preventDefault();
            $('#turnDetailDlg').modal('hide');
            var url = '@Url.Content("~/home/studentlessondrill/$lesson/$user")'
                .replace('$lesson', $(this).data("lesson"))
                .replace('$user', $(this).data("user"));
            window.location.href = url;
        });

        $("#turnDetailDlgViewDebug").click(function (evt) {
            evt.preventDefault();
            $('#turnDetailDlg').modal('hide');
            var url = '@Url.Content("~/home/studentlessondevview/$lesson/$user")'
                .replace('$lesson', $(this).data("lesson"))
                .replace('$user', $(this).data("user"));
            window.location.href = url;
        });

        function showTurnDetail(lessonID, userID) {
            var url = '@Url.Content("~/api/turnrollup/$lesson/$user")'
                .replace('$lesson', lessonID)
                .replace('$user', userID);

            $(".turn-detail-action")
                .data("lesson", lessonID)
                .data("user", userID);

            //Our quick client-side version of the RenderHelp function
            var du = function (s) { return decodeURI(decodeURI(s)); }

            $(".dispLessonID").text(du(lessonID));
            $(".dispUserID").text(du(userID));

            CSALCommon.doServerGet(url, "Getting Turn Detail", function (data) {
                var table = $("#turnDetailDlgDetails > tbody").html("");

                var addRow = function (item) {
                    var row = $("<tr></tr>");
                    var addCell = function (d) {
                        var target = $("<td></td>").addClass("nw");
                        if (d instanceof jQuery) target.append(d);
                        else                     target.html(d);
                        row.append(target);
                        return target;
                    }

                    var correctRate = CSALCommon.correctRateMarkup(item.CorrectAnswerRate);
                    var completeDisp = $("<span></span>");
                    if (item.Completed) {
                        completeDisp.addClass("glyphicon glyphicon-ok");
                    }

                    addCell(item.StartTime);
                    addCell(item.EndTime);
                    addCell(correctRate).append(completeDisp);
                    addCell(item.ReadingTime);
                    addCell(item.TotalTime);
                    addCell(CSALCommon.lessonPathMarkup(item.LessonPath));

                    table.append(row);
                }

                $.each(data, function (idx, ele) {
                    addRow(ele);
                });

                $('#turnDetailDlg').modal('show');
            });
        }
    </script>

    <!-- USER-DEFINED SCRIPTS SPECIFIC TO A VIEW -->
    @RenderSection("ScriptFinal", required: false)

</body>
</html>
